.scene_4 {
	width: 100%;
	height: 840px;
	background: #FFFFFF;
}
.bicycles_2{
	width: 600px;
	height: 100%;
	left:0px;
	position:absolute;
	overflow: hidden;
}.bicycles_2 img {
  min-height: 200px;
  min-width: 300px;
  vertical-align: middle;
}

.block_of_text{
	margin-top: 15%;
	margin-left: 55%;
	width: 30%;
	height: 100px;
	position:absolute;
}