
body{
	margin:0%;
}
ul{
	list-style-type:  none;
}
.title{
	font-size: 48px;
}
.paragraph_indentation{
	margin-bottom: 40px;
}
.paragraph{
	font-size: 24px;
}
.placing_blocks_main{
	display: grid;
	position:absolute;
}
.block_location_main{
	display: grid;
	grid-row-srart: 1;
	grid-row-end: 4;
}