.App {
  text-align: center;
}
.box{
	width: 50%;
	height: 100%;
	border: 1px solid black;
	padding:10px;
}
.position{
	margin-left: 26%;
}
.add_product_button{
	margin-left: 44%;
}

.location{
	display: grid;
}
.two_thirds_box{
	display: grid;
	grid-row-srart: 1;
	grid-row-end: 2;
	padding: 10px;
	margin-left: 100%;
}
.one_thirds_box{
	margin-left: 30%;
	display: grid;
	grid-row-srart: 5;
	grid-row-end: 3;
}

.button_plus_minus{
	width: 30px;
	height: 30px;
	background-color: white;
	border: none;
}

ul{
	list-style-type:  none;
}



